<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../static/estilos/estilo.css" rel="stylesheet">
    <title>UNIVESP - Pradópolis</title>
  </head>
  <body>
    <!– barra superior –>
    <header id="barra_superior">
      <nav>
        <a>
          <figure>
            <img src="https://univesp.br/sites/58f6506869226e9479d38201/theme/images/logo-univesp.png?1556651814" alt="Minha Figura" id="logo">
          </figure>
        </a>
        <a id="vestibular" href="registro.html">Vestibular</a>
      </nav>
    </header>
    <h1>Polo UNIVESP Pradópolis!!</h1>
    
    <!– carrossel de imagens –>
    <p>Carrossel de imagens</p>
    <!– caixa azul –>
    <p>Caixa azul da esquerda ou não</p>
    <!– caixa vermelha –>
    <p>Caixa vermelha da direita ou não</p>
    <!– area de registro BD –>
    <p>area para registro de email para vestibular ou não</p>
    
    
    <!– barra inferior –>
    <footer>
      <p>Barra inferior na cor #303030, com endereço, FB, Insta, YT</p>
    </footer>
  </body>
</html>